.linkButton {
  display: flex;
  justify-content: start;
  padding: 0 16px;
  align-items: center;
  width: 100%;
  text-decoration: none;
  height: 48px;
  border-radius: 4px;
  border: 1px solid #e65100;
  background-color: #e65100;
  color: #fff;
  font-size: 16px;
  line-height: 48px;
  cursor: pointer;
  overflow: hidden;
  position: relative;
  margin-bottom: 8px;
  box-sizing: border-box;
  gap: 8px;
  transition: background-color 0.2s ease-in-out, border 0.2s ease-in-out,
    color 0.2s ease-in-out;

  &:hover {
    border: 1px solid #212121;
    background-color: #212121;
  }

  &:disabled {
    cursor: not-allowed;
    opacity: 0.6;
  }

  &.loading {
    cursor: not-allowed;
  }

  .loader {
    display: inline-block;
    width: 24px;
    height: 24px;
    background-color: transparent;
    border: 3px solid #fff;
    border-top: 3px solid #9e9e9e;
    border-radius: 50%;
    animation: spin 1s linear infinite;
  }

  .ripple {
    position: absolute;
    background-color: #fff;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    pointer-events: none;
    animation: rippleEffect 1s 1;
  }
}

.linkButton.whiteBtn {
  border: 1px solid #e65100;
  background-color: #fff;
  color: #e65100;

  &:hover {
    background-color: #f5f5f5;
    color: #212121;
    border: 1px solid #212121;
  }

  &:disabled {
    cursor: not-allowed;
    opacity: 0.6;
  }

  &.loading {
    cursor: not-allowed;
  }

  .loader {
    display: inline-block;
    width: 24px;
    height: 24px;
    background-color: transparent;
    border: 3px solid #fff;
    border-top: 3px solid #eeeeee;
    border-radius: 50%;
    animation: spin 1s linear infinite;
  }

  .ripple {
    position: absolute;
    background-color: #eeeeee;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    pointer-events: none;
    animation: rippleEffect 1s 1;
  }
}

.linkButton.active {
  border: 1px solid #212121;
  background-color: #212121;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes rippleEffect {
  from {
    width: 0;
    height: 0;
    opacity: 0.7;
  }

  to {
    width: 500px;
    height: 500px;
    opacity: 0;
  }
}
